{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        <div class="row margin-top-50 text-center">
            <p class="offset-3 col-6 small-form text-success">Password updated</p>
        </div>
    </div>
{% endblock %}